{% extends "base.html" %}

{% block title %}
| {{ product.name }}
{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "css/details_products_stock_error.css" %}">
{% endblock css %}

{% block content %}
<main>
    <div id="product_div">
        <img src="{{ product.img.url }}" alt="">
        <div id="description">    
            <h1>{{ product.name }}</h1>
            <h3>{{ product.description | safe }}</h3>
        </div>
        <div id='stock_error'>
            {{ msg }}
        </div>
        <div id="price_buy">
            <div id="price">
                <h2>Preço: R${{ product.price }}</h2>
            </div>
            <div id="buy">
                <form action="{% url 'chart:add_to_chart' product.id %}" method="post">
                    {% csrf_token %}
                    Quantidade em estoque: {{ product.stock }}
                    {{ form }}                 
                    <input type="submit" value="Adicionar ao carrinho">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}