main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#thanks {
    margin-top: 175px;
    padding: 20px;
    border-radius: 20px;
    background-color: #253237;
    color: #E0FBFC;
    text-align: center;
}
