#empty_chart{
    display: flex;
    align-items: center;
    justify-content: center;
}
#empty_chart > img{
    width: 300px;
}

main{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}
#main_infos{
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #253237;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    color: #C2DFE3;
}
#main_infos input {
    border-radius: 5px;
    color: #253237;
    font-family: Montserrat;
    font-weight: bold;
}
#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #253237;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    color: #C2DFE3;
}
#products img{
    width: 100px;
}
#products input {
    border-radius: 5px;
    color: #253237;
    font-family: Montserrat;
    font-weight: bold;
}
h1{
    padding: 20px;
    border-radius: 20px;
    background-color: #253237;
    color: #C2DFE3;
}
table{
    margin: 20px;
    border-collapse: collapse;
}
table td, th{
    padding: 5px;
    text-align: center;
    border: 2px solid #C2DFE3;
    
}